{sub_dirs, ["rel", "apps/zerolog"]}.

{require_otp_vsn, "R14|R15"}.

{cover_enabled, true}.

{edoc_opts, [{todo, true}]}.

{xref_checks, [undefined_function_calls, locals_not_used, exports_not_used]}.

{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.

{dialyzer_opts, [raw]}.

{deps,
	[
		{erlzmq, ".*", {git, "git://github.com/zeromq/erlzmq2.git", "master"}},
		{protobuffs, ".*", {git, "git://github.com/basho/erlang_protobuffs.git", "master"}},
		{gen_leader, ".*", {git, "git://github.com/Vagabond/gen_leader_revival.git", "master"}}
	]
}.
