[
    {zerolog, [
        {enabled_backends, [zerolog_tty, zerolog_disco]},
        {zerolog_tty, []},
        {zerolog_disco, [
                            %{nodes, ['zerolog@127.0.0.1']},
                            %{seed, 'zerolog@other.host.com'}
                            {threshold, 5},
                            {master, "http://localhost:8989"},
                            {prefix, "0b"},
                            {tag, "data:zerolog"}
                        ]},
        {zerolog_receiver, [{addr, "tcp://*:2121"}]}
    ]}
].
