{sys, [
       {lib_dirs, ["../apps", "../deps"]},
       {rel, "zerolog", git,
        [
         kernel,
         stdlib,
         sasl,
         zerolog,
         erlzmq,
         protobuffs,
         gen_leader
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "zerolog"},
       {profile, embedded},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},

       %% Including HiPE can cause issues generating your first upgrade.
       %% If you plan to distribute HiPE in your release remove the
       %% following line.
       {app, hipe, [{incl_cond, exclude}]},
       {app, zerolog, [{incl_cond, include}]},
       {app, erlzmq, [{incl_cond, include}]},
       {app, protobuffs, [{incl_cond, include}]},
       {app, gen_leader, [{incl_cond, include}]}
      ]}.

{target_dir, "zerolog"}.

{overlay, [
           {mkdir, "log"},
           {mkdir, "data"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/zerolog", "bin/zerolog"},
           {template, "files/app.config", "etc/app.config"},
           {copy, "files/zerolog.cmd", "bin/zerolog.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/vm.args", "etc/vm.args"}
          ]}.
