[
    {zerolog, [
        {enabled_backends, [zerolog_tty, zerolog_disco]},
        {enabled_receivers, [zerolog_rest, zerolog_zeromq]},
        {zerolog_tty, []},
        {zerolog_disco, [
	    					%{nodes, ['zerolog@127.0.0.1']},
							% 64MB (64x1024x1024)
							{threshold, 67108864},

                            % Which nodes in the cluster 
                            %{nodes, ['zerolog@127.0.0.1', 'zerolog@an.ot.her.ip']},
                            %
                            % Which master to join and announce itself at
                            %{seed, 'zerolog@an.ot.her.ip'}
                            {threshold, 5},
                            {master, "http://localhost:8989"},
                            {prefix, "0b"},
                            {tag, "data:zerolog"}
                        ]},
        {zerolog_zeromq, [{addr, "tcp://*:2121"}]},
        {zerolog_rest, [
                        {ip, "127.0.0.1"},
                        {port, 2122}
        ]}
    ]},

%% Nothing needs to be edited below.
%% ===================================================================

    %% Riak Core config
	{riak_core, [
		      %% Default location of ringstate
		      {ring_state_dir, "data/ring"},
		      {handoff_port, 2125 },
              {platform_bin_dir, "bin"},
              {platform_data_dir, "data"},
              {platform_etc_dir, "etc"},
              {platform_lib_dir, "lib"},
              {platform_log_dir, "log"}
              ]},

    %% Riak KV config
    {riak_kv, [
            {pb_ip,   "127.0.0.1"},
            {pb_port, 2126},
            {storage_backend, riak_kv_bitcask_backend},
            {vnode_vclocks, true}
            ]},
            
     {bitcask, [
             {data_root, "data/bitcask"}
           ]},

    %% SASL config
	{sasl, [
		 {sasl_error_logger, {file, "log/sasl-error.log"}},
		 {errlog_type, error},
		 {error_logger_mf_dir, "log/sasl"},      % Log directory
		 {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
		 {error_logger_mf_maxfiles, 5}           % 5 files max
		 ]}
].
