[
    {zerolog, [
		{enabled_backends, [zerolog_tty, zerolog_disco]},
		{zerolog_tty, []},
	    {zerolog_disco, [
	    					%{nodes, ['zerolog@127.0.0.1']},
							% 64MB (64x1024x1024)
							{threshold, 67108864},
		    				{master, "http://localhost:8989"},
		    				{prefix, "0b"},
		    				{tag, "data:zerolog"}
	    				]},
	    {zerolog_receiver, [{addr, "tcp://*:2121"}]}
	]}
].
